/* Global styles */
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: #555572; /* Default text color */
    margin: 0 auto;
    background-color: #0e0e26; /* Added background color to fill entire page */
    background-image: url('background_graphics_png.png');
    background-size: 100% auto; /* Adjust the background size to fit the viewport width */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    z-index: -1; /* Place the image behind other content */
}

html {
  scroll-behavior: smooth; /* Enable smooth scrolling behavior for the entire page */
}

  /* Styling POPUP */

.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  width: 800px;
  height: 800px;
  border-radius: 16px;
}

.popup-content {
  position: relative;
  margin: auto;
  margin-top: 40px;
  width: 100%; /* Set width to 100% to fill the container */
  height: 90%; /* Set height to 100% to fill the container */
  line-height: 1.6;
  color: white;
  max-width: 600px;
}

.popup-content img {
  margin-top: 40px;
  max-width: 80%;
  max-height: 80%;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: contain; /* Adjusts the image to fit its container while preserving aspect ratio */
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 40px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  z-index: 1;
}

  /* Styling navigation bar */
header {
  max-width: 950px;
  min-height: 64px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.burger-menu {
  display: none; /* Hide UL elements by default */
    width: 32px; /* Set the width of the icon */
    height: 32px; /* Set the height of the icon */
    cursor: pointer;
    background-image: url('burger-menu.svg'); /* Default icon */
    background-size: cover; /* Ensure the icon fills the container */
    transition: background-image 0.3s ease; /* Smooth transition */
  }
  
  .burger-menu:hover {
    background-image: url('burger-menu-purple.svg'); /* Icon on hover */
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px 80px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .logo {
    color: white;
  }
  
  header ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
  }
  
  header ul li {
    margin-right: 30px;
  }
  
  header ul li a {
    text-decoration: none;
    color: #555572;
  }
  
  header ul li a:hover {
    transition-duration: 0.4s;
    color: #ffffff;
  }


  .hero {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    color: white;
    padding: 128px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%; /* Set maximum width */
    width: 100%; /* Occupy full width of the container */
  }

  .hero-title {
    font-family: 'Inter', sans-serif;
    font-size: calc(32px + 2vw); /* Adjust base size and scaling factor as needed */
    margin-bottom: 20px;
    line-height: 16px;
    width: 100%;
  }
  
  .hero-text {
    color: #555572;
    padding-top: 40px;
    line-height: 26px;
    font-size: 16px;
  }
  
  .hero-button {
    margin-top: 30px;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #5454D4;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 12px 80px 8px rgba(91, 91, 255, 0.445);
    cursor: pointer;
    transition: background-color 0.4s ease, box-shadow 0.4s ease; /* Transition property for background-color and box-shadow */
  }
  
  .hero-button:hover {
    background-color: #7a7afc; /* New background color on hover */
    box-shadow: 0 12px 80px 10px rgba(91, 91, 255, 0.762);
  }

  .button-tertiary {
    color:#5454D4;
    cursor: pointer;
    transition-duration: 0.4s;
    }
    
 .button-tertiary:hover {
  color:#ffffff;
   cursor: pointer;
    }
  

  /* About section styles */
  .about {
    color: #555572;
    padding: 100px 0;
    text-align: center;
  }
  
  .section-title {
    font-size: 32px;
    margin-bottom: 32px;
    color: white;
  }
  
  .about-section-text
  {
    text-align: justify;
    line-height: 26px;
    font-size: 18px;
  }

  .section-text {
    font-size: 18px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 48px;
  }
  
  .highlight-text {
    color: rgb(124, 118, 153);
    font-style: italic; /* Add italic style to the text */
}

/* We Work With section styles */
.we-work-with {
  color: #555572;
  padding: 60px 0;
  text-align: center;
}

.we-work-with-container {
  display: flex;
  flex-wrap: row; /* Allow items to wrap onto the next line */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Adjust the space between items as needed */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* Set maximum width for the container */
}

.company {
  flex: 1 1 auto; /* Flex grow, shrink, basis */
  min-width: 200px; /* Set minimum width for better responsiveness */
  background-image: radial-gradient(ellipse 100px 100px at 50% 70px, rgba(84, 181, 211, 0.1) 40%, rgba(0, 255, 0, 0) 120%),
                    radial-gradient(at top left, #2b2b3f, #121230);
  padding: 20px;
  border-radius: 16px;
}

.company h3 {
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 2px;
}

.company p {
  color: #B4B4D4;
  line-height: 26px;
}

.company img {
  max-width: 100%; /* Make images responsive */
  height: auto;
  border-radius: 50%; /* Adjust border-radius to make images circular */
}


  /* Portfolio section styles */
.portfolio {
    color: #555572;
    padding: 60px 0;
    text-align: center;
  }
  
  .portfolio-items {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: space-between; /* Distribute items along the main axis with space between them */
    align-items: center; /* Align items vertically center */
    gap: 30px;
    
    overflow-x: auto; 
    /* REMOVE LINE ABOVE "width: calc(100% + 60px);" AND ADD THIS TO HAVE A SCROLL:overflow-x: auto; */
    max-width: 100%; /* Adjust the maximum width as needed */
  }

  .portfolio-item {
    text-align: left;
    margin-bottom: 30px;
  }

  .portfolio-item h3 {
    color: white;
    margin-bottom: 8px;
  }

  .portfolio-item p {
 margin-bottom: 8px;
 margin-top: 8px;
  }

  .portfolio-item img {
    max-height: 280px;
    border-radius: 16px;
  }

  .hidden {
    display: none;
  }

 /* Scrollbar styling */
 /* Hide scrollbar */
.portfolio-items::-webkit-scrollbar {
    width: 0;
  }
  
  /* Optional: Show scrollbar on hover */
  .portfolio-items:hover::-webkit-scrollbar {
    width: 8px; /* Adjust scrollbar width as needed */
  }
  
  /* Handle */
  .portfolio-items::-webkit-scrollbar-thumb {
    background: #282549; /* Color of scrollbar handle */
    border-radius: 16px; /* Adjust scrollbar handle border radius */
    height: 8px;
  }
  
  /* Handle on hover */
  .portfolio-items::-webkit-scrollbar-thumb:hover {
    background: #433e7a; /* Color of scrollbar handle on hover */
  }
 


/* Packages section styles */
.packages {
  color: #555572;
  padding: 60px 0;
  text-align: center;
}

.packages-container {
  display: flex;
  flex-wrap: row; /* Allow items to wrap onto the next line */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Adjust the space between items as needed */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* Set maximum width for the container */
}

.package {
  flex: 1 1 auto; /* Flex grow, shrink, basis */
  min-width: 200px; /* Set minimum width for better responsiveness */
  height: auto;
  background-image: radial-gradient(at top left, #2b2b3f, #121230); /* Add your gradient colors */
  padding: 20px;
  border-radius: 16px;
  display: flex; /* Added */
  flex-direction: column; /* Added */
  align-items: center; /* Align items horizontally */
}

.package h3 {
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 2px;
  min-height: 60px;
  margin-bottom:0px;
}

.package p {
  color: #B4B4D4;
  line-height: 26px;
  max-height: 150px; /* Set maximum height to prevent overflow */
  overflow: hidden; /* Hide overflowing text */
  word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
}

.package img {
  max-width: 100%; /* Make images responsive */
  height: auto;
  align-items: center;
}

.button-regular {
  max-width: 100%;
  height: auto;
  padding: 12px 25px;
  background-color: #5454d4;
  color: white;
  border-radius: 32px;
  font-size: 14px;
  transition-duration: 0.4s;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
  white-space: normal;
}

.button-regular:hover {
  background-color: #7a7afc;
}
    
/* Enquire section styles */
.enquire {
  background-color: rgba(120, 120, 120, 0.05);
  color: white;
  padding: 64px 0;
  text-align: center;
}

.contact-methods {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .contact-methods p {
    margin: 0 20px;
    display: flex; /* Add flex display */
    align-items: center; /* Align items vertically */
  }
  
  .contact-methods img {
    margin-right: 10px; /* Adjust icon's spacing with text */
  }

/* Footer styles */
footer {
    position: relative;
    margin-top: 64px;
    color: white;
    padding: 20px 0;
    text-align: center;
    z-index: 1;
  }
  
  .social-icons-container {
    list-style: none;
    display: flex;
    justify-content: center; /* Align items horizontally at the center */
    align-items: center; /* Align items vertically at the center */
    padding: 0; /* Remove default padding */
    margin-bottom: 30px;
  }
  
  .social-icons-container li {
    margin: 0 10px; /* Adjust spacing between icons */
  }

  .terms  {
    margin: 16px;
  }

  .copyright {
    color: rgba(255, 255, 255, 0.1);
    margin: 10px;
  }

  .bottom-image {
    position: absolute; /* Change from absolute to fixed */
    width:100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    text-align: center;
  }
  
  .bottom-image img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto;
  }


  /* Responsivness */
  @media screen and (max-width: 768px) {

    header {
      padding-left: 16px;
      padding-right: 16px;
    }
    
   /* Hide the menu items by default */
.menu-items ul {
  display: none;
}

/* Show the menu items when the 'show' class is added */
.menu-items ul.show {
  display: block;
  text-align: right; /* Align the menu items to the right */
}

/* Adjust styles for menu items */
.menu-items ul li {
  display: inline-block; /* Display items horizontally */
  margin: 0;
  padding: 10px;
  border-bottom: 0px solid #ccc;
}

/* Display the hamburger menu icon */
.burger-menu {
  display: block; /* Make sure the hamburger menu icon is visible */
  cursor: pointer;
}

    .hero {
      position: relative; /* Set position relative for the container */
      display: flex;
      flex-direction: column;
      color: white;
      text-align: center; /* Center align content horizontally */
      justify-content: center;
      align-items: center;
      margin-top: 0px;
      margin-bottom: 32px;
      padding: 32px 0;
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 80%; /* Set maximum width */
      width: 100%; /* Occupy full width of the container */
    }
    
    .hero-title {
      font-family: 'Inter', sans-serif;
      font-size: 32px;
      margin-bottom: 20px;
      line-height: 16px;
      width: 100%;
      min-width: 360px;
      white-space: nowrap;
    }
  
    .hero-text {
      color: #555572;
      padding-top: 0px;
      line-height: 26px;
      min-width: 360px;
    }

    .about-section-text
    {
      text-align: justify;
      line-height: 26px;
      font-size: 14px;
    }

    .section-title {
      font-size: 28px;
      margin-bottom: 32px;
      color: white;
    }
    
    .portfolio-items {
      display: flex;
      flex-direction: row; /* Arrange items horizontally */
      justify-content: space-between; /* Distribute items along the main axis with space between them */
      align-items: center; /* Align items vertically center */
      gap: 30px;
      min-width: 300px;
      overflow-x: auto; 
      max-width: 100%; /* Adjust the maximum width as needed */
    }

    .packages-container {
      flex-direction: column;
      justify-content: center;
      align-items: center; /* Center items vertically */
      text-align: center; /* Center the content horizontally */
    }

    .packages {
      margin: 0 auto; /* Center the section horizontally */
    }

    .package {
      width: 100%;
    }

    .package p {
      color: #B4B4D4;
      line-height: 26px;
      min-height: 100px;
    }

    .we-work-with-container {
      flex-direction: column; /* Change direction to row to keep items on one row */
      align-items: center; /* Center items horizontally */
      padding: 0px;
    }
    
    .company {
      width: calc(100% - 20px); /* Adjust width for even smaller screens */
    }

    .package {
      width: calc(100% - 20px); /* Adjust width for smaller screens */
    }

    .button-regular {
      margin-bottom: 50px;
  }

  body {
    background-size: 280% auto;
    background-position: -360px -100px; /* Adjusts the position by 10px from the left and 20px from the top */
}
}